<div class="row">
  <div class="col-md-12">
    <%= custom_form_for(@product_type, bootstrap3_form_options(html_class: "agent-form")) do |f| %>
      <div class="bs-component">
        <div class="tab-pane" id="cars">
          <div class="row">
            <% if @product_type.errors.present? %>
              <div class="alert alert-danger">
                <% @product_type.errors.full_messages.each do |msg| %>
                  <p><%= msg %></p>
                <% end %>
              </div>
            <% end %>

            <%# if can? :set_active, @agent %>
            <%#= f.input :is_active %>
            <%# end %>

            <%# if can?(:view_agent_tier, @agent) %>
            <%#= f.association :roles, collection: Role.all, include_blank: false, multiple: false %>
            <%# end %>


            <%= f.input :name %>
          </div>
          <div class="row">
            <div class="col-sm-offset-3 col-sm-2 p-3">
              <%= f.button :submit, "Save", class: "btn-primary btn-block" %>
              <%= link_to("Cancel", product_types_path, class: "btn btn-dark btn-block") %>
            </div>
          </div>
        </div>

      </div>

    <% end %>
  </div>
</div>