<thead>
<tr>
  <th><div><div><%= I18n.t("activerecord.attributes.car_inspection.registration_number") %></div></div></th>
  <th><div><div><%= I18n.t("activerecord.attributes.car_inspection.inspect_lighting") %></div></div></th>
  <th><div><div><%= I18n.t("activerecord.attributes.car_inspection.steering_check") %></div></div></th>
  <th><div><div><%= I18n.t("activerecord.attributes.car_inspection.tire_condition") %></div></div></th>
  <th><div><div><%= I18n.t("activerecord.attributes.car_inspection.body_condition") %></div></div></th>
  <th><div><div><%= I18n.t("activerecord.attributes.car_inspection.checking_brake") %></div></div></th>
  <th><div><div><%= I18n.t("activerecord.attributes.car_inspection.checking_windshield") %></div></div></th>
  <th><div><div><%= I18n.t("activerecord.attributes.car_inspection.checking_termoking") %></div></div></th>
  <th><div><div><%= I18n.t("activerecord.attributes.car_inspection.checking_termotrans") %></div></div></th>
  <th><div><div><%= I18n.t("activerecord.attributes.car_inspection.checking_unitess") %></div></div></th>
  <th><div><div><%= I18n.t("activerecord.attributes.car_inspection.notes") %></div></div></th>
  <th><div><div>Дата</div></div></th>
  <th><div><div>Исполнитель</div></div></th>
  <th><div><div></div></div></th>
</tr>
</thead>