<%= content_for :breadcrumbs do %>
  <li class="crumb-link">
    <%= link_to("Car Inspections", registers_car_inspections_path) %>
  </li>
  <li class="crumb-trail">
    <%#= @car_inspection.name %>
  </li>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <h5 class="card-title"><%= @car_inspection.car.registration_number %></h5>
        <h5 class="card-title"><%= @car_inspection.created_at %></h5>
      </div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-car-info-tab" data-bs-toggle="tab" data-bs-target="#nav-car-info" type="button" role="tab" aria-controls="nav-car-info" aria-selected="true">Car
            Info
          </button>
          <button class="nav-link" id="nav-car-inspection-versions-tab" data-bs-toggle="tab" data-bs-target="#nav-car-inspection-versions" type="button" role="tab" aria-controls="nav-car-inspection-versions" aria-selected="false">Versions</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <%= render "registers/car_inspections/show/car_inspection_info", active: tab_pane_class_for("car-inspection-info", true) %>
        <%= render "registers/car_inspections/show/versions", active: tab_pane_class_for("car-inspection-versions") %>
      </div>
    </div>
  </div>
</div>
