<div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
<!--        <img src="..." class="img-fluid rounded-start" alt="...">-->
        <%= image_tag @user.avatar, class: "img-fluid rounded-start" if current_user.avatar.attached? %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= @user.full_name %></h5>
          <p class="card-text"><%= @user.email %></p>
          <p class="card-text"><%= I18n.t("activerecord.attributes.user.roles.#{@user.role}") %></p>
          <p class="card-text"><small class="text-muted"><%= @user.bday %></small></p>
          <div class="mb15">
            <%= link_to("Edit", edit_user_path(@user), class: "btn btn-primary btn-block pv10 fw600 mb10") %>
            <%= link_to("Destroy", user_path(@user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-block") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>