<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-light navbar-light">
    <a href="index.html" class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary color-text"><i class="fa fa-hashtag me-2"></i>LIGMATON</h3>
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
        <%= image_tag admin.avatar, class: "rounded-circle", style: "width: 40px; height: 40px;" if admin %>
        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
      </div>
      <div class="ms-3">
<!--        <h6 class="mb-0"><%#= admin.full_name %></h6>-->
<!--        <span><%#= admin.role.capitalize %></span>-->
      </div>
    </div>
    <div class="navbar-nav w-100">
      <a href="index.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
        <div class="dropdown-menu bg-transparent border-0">
          <a href="button.html" class="dropdown-item">Buttons</a>
          <a href="typography.html" class="dropdown-item">Typography</a>
          <a href="element.html" class="dropdown-item">Other Elements</a>
        </div>
      </div>
      <%= link_to "#{fa_icon("th me-2")} #{I18n.t("users")}".html_safe, users_path, class: "nav-item nav-link" if can?(:crud, User) %>
      <%= link_to "#{fa_icon("table me-2")} #{I18n.t("departments")}".html_safe, departments_path, class: "nav-item nav-link" %>
      <%= link_to "#{fa_icon("keyboard me-2")} #{I18n.t("roles")}".html_safe, roles_path, class: "nav-item nav-link" %>
      <%= link_to "#{fa_icon("chart-bar  me-2")} #{I18n.t("permissions")}".html_safe, permissions_path, class: "nav-item nav-link" %>
      <%= link_to "#{fa_icon("car  me-2")} #{I18n.t("cars")}".html_safe, cars_path, class: "nav-item nav-link" %>
      <%= link_to "#{fa_icon("car  me-2")} #{I18n.t("partners")}".html_safe, partners_path, class: "nav-item nav-link" %>
      <%#= link_to "#{fa_icon("keyboard  me-2")} #{I18n.t("registers")}".html_safe, registers_car_inspections_path, class: "nav-item nav-link" %>

      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i><%=  I18n.t("registers") %></a>
        <div class="dropdown-menu bg-transparent border-0">
          <%= link_to "#{I18n.t("activerecord.attributes.registers.car_inspection")}".html_safe, registers_car_inspections_path, class: "dropdown-item", style: "width: 100px;
        background: #7cd4ae;
        word-wrap: break-word;
        word-break: break-all;" %>
<!--          <a href="button.html" class="dropdown-item">Buttons</a>-->
<!--          <a href="typography.html" class="dropdown-item">Typography</a>-->
<!--          <a href="element.html" class="dropdown-item">Other Elements</a>-->
        </div> 
      </div>

      <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
      <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
      <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
      <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
        <div class="dropdown-menu bg-transparent border-0">
          <a href="signin.html" class="dropdown-item">Sign In</a>
          <a href="signup.html" class="dropdown-item">Sign Up</a>
          <a href="404.html" class="dropdown-item">404 Error</a>
          <a href="blank.html" class="dropdown-item">Blank Page</a>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- Sidebar End -->