<div>
  <h1>Departments</h1>
  <% if current_user.admin?  %>
  <button type="button" class="btn btn-outline-primary">
    <%= link_to I18n.t("activerecord.attributes.department.create_new_department"), new_department_path %>
  </button>
  <% end %>
  <table class="table  table-striped">
    <thead>
    <tr>
      <th scope="col"><%= I18n.t("activerecord.attributes.department.title") %></th>
      <th scope="col"><%= I18n.t("activerecord.attributes.department.body") %></th>
    </tr>
    </thead>
    <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><a href="<%= department_path(department) %>">
          <h5> <%= department.title %></h5>
        </a></td>
        <td><%= department.body %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>