<div class="row">
  <div class="col-md-12">
    <%= custom_form_for(@order_log, bootstrap3_form_options(html_class: "agent-form")) do |f| %>
      <div class="bs-component">
        <div class="tab-pane" id="cars">
          <div class="row">
            <% if @order_log.errors.present? %>
              <div class="alert alert-danger">
                <% @order_log.errors.full_messages.each do |msg| %>
                  <p><%= msg %></p>
                <% end %>
              </div>
            <% end %>

            <%# if can? :set_active, @agent %>
            <%#= f.input :is_active %>
            <%# end %>

            <%# if can?(:view_agent_tier, @agent) %>
            <%# end %>


            <%= f.date_field :date %>

            <h3>Заявки:</h3>
            <%= f.fields_for :order_details, OrderDetail.new do |detail_form| %>
              <div class="field">
                <%#= detail_form.label :detail_name %>
                <%#= detail_form.text_field :detail_name %>


                <%= detail_form.collection_select :partner_id, Partner.all, :id, :name %>
              </div>

              <%= detail_form.fields_for :orders, Order.new do |order_form| %>
                <div class="field">
                  <%= order_form.label :number %>
                  <%= order_form.text_field :number %>
                </div>
              <% end %>
            <% end %>




          </div>
          <div class="row">
            <div class="col-sm-offset-3 col-sm-2 p-3">
              <%= f.button :submit, "Save", class: "btn-primary btn-block" %>
              <%= link_to("Cancel", order_logs_path, class: "btn btn-dark btn-block") %>
            </div>
          </div>
        </div>

      </div>

    <% end %>
  </div>
</div>