<div class="row">
  <div class="col-md-12">
    <%= custom_form_for(@role, bootstrap3_form_options) do |f| %>
      <div class="bs-component">
        <div class="panel">
          <div class="panel-body">
            <%= f.input :title %>
            <%= f.input :description %>
            <%= f.input :role_type, collection: Role.role_type_attributes_for_select, include_blank: false  %>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-2">
                <%= f.button :submit, "Save", class: "btn-primary btn-block" %>
              </div>
              <div class="col-sm-2">
                <%= link_to("Cancel", roles_path, class: "btn btn-default btn-block") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
