<%#= content_for :breadcrumbs do %>
<!--  <li class="crumb-trail">-->
<!--    Roles-->
<!--  </li>-->
<%# end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <span class="panel-title">
          Roles
        </span>
      </div>
      <div class="panel-body pn">
        <div class="bs-component">
          <div class="col-md-6 mt20 mb20">
            <%= link_to("New", new_role_path, class: "btn btn-primary") %>
            <!--          <div class="col-md-6 text-right">-->
            <%#= paginate @roles %>
            <!--          </div>-->

            <div class="col-md-12">
              <table class="table table-hover table-striped">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Created At</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% @roles.each do |role| %>
                  <tr>
                    <td><%= role.id %></td>

                    <td><%= link_to(role.title, role_path(role)) %></td>
                    <td><%= role.description %></td>
                    <td><%= role.created_at %></td>
                    <td>
                      <%= link_to("Edit", edit_role_path(role), class: "btn btn-sm btn-default") if can?(:edit, role) %>
                      <%= link_to("Destroy", role_path(role), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger") if can?(:destroy, role) %>
                      <%#= link_to("Copy", copy_role_path(role), class: "btn btn-sm btn-default") if can?(:copy, role) %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>

            <!--          <div class="col-md-12 text-right">-->
            <%#= paginate @roles %>
            <!--          </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
