  <h1><%= I18n.t("cars")%></h1>
  <%= link_to 'New Car', new_car_path %>
  <div>
    <div>
      <table class="table  table-striped">
        <thead>
        <tr>
          <th scope="col"><%= I18n.t("activerecord.attributes.car.registration_number")%></th>
          <th scope="col"><%= I18n.t("activerecord.attributes.car.brand")%></th>
          <th scope="col"><%= I18n.t("activerecord.attributes.car.model")%></th>
        </tr>
        </thead>
        <tbody>
        <% if @cars %>
        <% @cars.each do |car| %>
          <tr>
            <td><a href="<%= car_path(car) %>">
              <h5> <%= car.registration_number %></h5>
            </a></td>
            <td><h5> <%= car.brand %></h5>
            </td>
            <td><h5> <%= car.model %></h5>
            </td>

          </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
