<div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
<!--        <img src="..." class="img-fluid rounded-start" alt="...">-->
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= @car.registration_number %></h5>
          <p class="card-text"><%= @car.model %></p>
          <p class="card-text"><%= @car.brand %></p>
          <div class="mb15">
            <%= link_to("Edit", edit_car_path(@car), class: "btn btn-primary btn-block pv10 fw600 mb10") if can?(:update, @car)  %>
            <%= link_to("Destroy", car_path(@car), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-block") if can?(:destroy, @car) %>
            <%= link_to("All Cars", cars_path, class: "btn btn-block btn-dark pv10 fw600 mb10")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>